[submodule "3p/editline"]
  path = 3p/editline
  branch = master
  url = git@github.com:troglobit/editline.git
[submodule "3p/raylib"]
  path = 3p/raylib
  branch = master
  url = git@github.com:raysan5/raylib.git
[submodule "src/nespp"]
  path = src/nespp
  branch = master
  url = git@github.com:christopherfujino/nespp
