/* base16-unikitty-light */

body {
  font-family: "sans";
  margin: 1rem 5rem 1rem;
  background-color: #ffffff;
  color: #6c696e;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

a {
  color: #4f4b51;
}
